Django>=1.11.27,<2.3
  pytz==2019.2
django-cms==3.4.5
  django-classy-tags==0.8.0
  django-formtools==2.1
  django-sekizai==0.10.0
  django-treebeard==4.2.0
  djangocms-admin-style==1.2.7
django-click==2.0.0
  click==6.7
  six==1.11.0
git+git://github.com/trawick/emptyhammock-time.git@0.0.2
